*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #131519;
    color: white;
}
h3{
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px
}
#start{
    top: 22%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 100px;
    outline: none;
    border: none;
    padding: 15px 0;
    transition: 0.5s;
    border-radius: 3px;
    font-size: 18px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 200px;
    background-color: #1C1E22;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.grid div{
    height: 20px;
    width: 20px;
    border: 1px solid #131519;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 10px;
}



.tetromino{
    background-color: rgb(138, 149, 160);
}

#vacant{
    visibility: hidden;
}
.buttons{
    top: 85%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(3,30px);
    row-gap: 5px;
    column-gap: 5px;
    grid-template-rows: repeat(2,30px);
}

.result{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    height: 15vh;
    width: 15vw;
    background-color: rgb(63, 70, 70);
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
}

h4{
    margin-top: 20px;
}

#reset {
    width: 100px;
    outline: none;
    border: none;
    padding: 15px 0;
    transition: 0.5s;
    border-radius: 3px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media(max-height:740px){
    h3{
     top: 5%;
    }
    .buttons{
        top: 90%;
    }
}

@media(max-width:300px){
    h3{
        top: 8%;
        font-size: 35px;
    }
}

@media(max-width:850px){
    .result{
        width: 30vh;
    }
}